body {
  background-image: url(../imgs/backgroundof\ 1.jpg);
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}
div {
  width: 80%;
  margin: 200px auto;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #888;
}
video {
  width: 300px;
  height: auto;
  border-radius: 20px;
  margin-left: 20px;
}

aside {
  position: fixed;
  left: 0;
  top: 10px;
  width: 10%;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.227);
  padding: 20px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top-left-radius: 5px;
  border-top-right-radius: 50px;
}

aside a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px 0;
}
/* @media (max-width: 426px) {
  body {
    align-items: center;
    margin: 20px auto;
    align-content: center;
    justify-content: center;
  }
  aside {
    width: 7%;
  }
  video {
    margin-bottom: 20px;
  }
} */
